.header-container{
    color: black;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    border-bottom: 1px solid black;
    /* justify-content: center; */
    align-items: flex-start;
    & p{
        display: flex;
        align-items: center;
        gap: 3px;
    }
}